main.content.album-detail
    .hero
        .album-cover
            img.cover
            
        .details
            .top
                a
                    h1.title
                
                a
                    h2.artist
                
            .middle
                p.info
                
            .bottom
                .genres
                    p.genres-paragraph Generi: 
                .options
                    button.hero-button
                        i.material-icons playlist_add
                    button.hero-button
                        i.material-icons favorite_border
                    button.hero-button
                        i.material-icons share
    .song-list
        table
            thead
                tr
                    th N°
                    th Titolo
                    th Durata
                    th= ' '
                    
            tbody.songs-container
