section.sidebar
    +trbl(0, auto, 0, 0)
    position: fixed
    z-index: 100
    width: 240px
    background-color: $secondary-dark
    box-shadow: none
    transform: translateX(-100%)
    transition: transform 0.3s ease

    &.active
        transform: translateX(0)
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22)

    @media (min-width: $lg)
        transform: translateX(0)
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

    .sidebar-button
        height: 48px
        width: 48px
        color: white
        border: 0
        background-color: transparent
        cursor: pointer
        display: block

        &.close
            float: right

        @media (min-width: $lg)
            display: none

    nav
        ul
            li
                box-shadow: inset 0 -1px 0 rgba(black, 0.2)

                &:last-child
                    box-shadow: none

                & + li a
                    box-shadow: inset 0 1px 0 rgba(white, 0.1)

                a
                    color: white
                    text-decoration: none
                    display: block
                    height: 24px
                    line-height: 24px
                    padding: 12px 0
                    text-transform: uppercase
                    transition: background-color 0.3s ease
                    box-sizing: content-box

                    &:hover
                        background-color: $primary

                    .material-icons
                        margin: 0 16px
                        vertical-align: middle
