.hero
    display: flex
    background:
        size: cover
        position: 50% 50%
    padding: ($gutter * 2)
    color: white

    .hero-button
        color: white
        border: 0
        margin: 0
        background-color: transparent
        cursor: pointer
        display: inline-block
        opacity: 0.5

        &:hover,
        &:focus
            opacity: 1

        &:focus
            outline: none

    .album-cover
        flex: 0 0 25%
        margin-right: ($gutter * 2)
        position: relative

        .cover
            width: 100%
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35), 0 2px 10px 0 rgba(0, 0, 0, 0.35)

        .fab
            +trbl(calc(50% - 32px), 0, 0, calc(50% - 32px))
            position: absolute
            transform: scale(0)
            transition: transform 0.3s ease, box-shadow 0.3s ease

        &:hover,
        &:focus
            .fab
                transform: scale(1)

    .details
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: space-between

        .title
            font-size: 45px
            font-weight: 500

        .artist
            font-size: 24px
            font-weight: 300
            color: $primary
            text-decoration: none

        .info
            margin-bottom: $gutter
            line-height: 1.6

            span
                color: $primary

        .bottom
            display: flex

            .genres
                flex-grow: 1

                .genres-paragraph
                    a
                        display: inline-block
                        border-radius: 999px
                        background-color: $primary
                        padding: 10px 10px
                        margin: 4px ($gutter / 2)
                        color: white
                        text-decoration: none
                        font-size: 12px

                        &:hover,
                        &:focus
                            background-color: $primary-dark

            .options
                align-self: flex-end
                flex: 0 0 120px
                text-align: right

    @media (max-width: $sm-max)
        display: block

        .album-cover
            margin-right: 0
            margin-bottom: ($gutter * 2)

        .details
            .bottom
                flex-direction: column

                .genres
                    flex-grow: 1

                    .genres-paragraph
                        a
                            padding: 6px 6px

                .options
                    flex: 0 0 auto
                    margin-top: $gutter
