.song-list
    width: 80%
    margin: ($gutter * 4) auto
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    overflow-x: auto

    td:nth-child(1),
    th:nth-child(1),
    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4)
        width: 1px

    td:nth-child(4),
    th:nth-child(4)
        button
            color: black
            opacity: 0.5
            border: 0
            margin: 0
            background-color: transparent
            cursor: pointer
            display: inline-block

            &:hover,
            &:focus
                opacity: 1

            &:focus
                outline: none
