header.hero-landing
    background:
        //image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(/img/cactus.jpg)
        image: url(/img/cactus.jpg)
        size: cover
        position: 22% 0%
    color: white
    text-align: center
    padding: 6rem 0

    & > *
        text-shadow: 0 0 6px rgba(black, 0.3)

    .title
        font-size: 56px

    .subtitle
        font-size: 34px
        margin-bottom: 4rem

    .description
        font-size: 20px
        line-height: 32px
        font-weight: 300
