doctype html
html
    head
        include ../1-partials/_head
        block head

    body
        block sidebar
        .wrapper
            .overlay
            block topbar
            block content
            block player
        block scripts
