doctype html
html(lang="it")
    head
        include ../1-partials/_head
        block head

    body
        block sidebar
        .wrapper
            .overlay
            block topbar
            block header
            block content
            block player
        block scripts
