doctype html
html(lang="it")
    head
        include ../1-partials/_head
        block head

    body
        block topbar
        block header
        block content
        block footer
        block scripts
