mixin footerItem(url, text)
    li
        a(href="#{url}")= text

footer.footer
    ul
        +footerItem('#', 'CosՏ Muzik!')
        +footerItem('#', 'FAQ')
        +footerItem('#', 'Assistenza clienti')
        +footerItem('#', 'Termini e condizioni')
