header.hero-landing
    .container
        h1.title Muzik!
        h2.subtitle Tutta la tua musica a portata di mano
        .description
            p Muzik! è un sito di musica che ha tutto il necessario per garantirti un’esperienza d’intrattenimento musicale.<br>
            p Qui trovi tutta la musica che cerchi in streaming.<br>
            p È facile da usare e ti permette di condividere un’ampia gamma musicale.<br>
            p A soli 5 CHF/mese, potrai ascoltare tutta la musica che vuoi.
        a(href="#main").down-arrow
            i.material-icons.medium keyboard_arrow_down
