header.hero-landing
    .container
        h1.title Muzik!
        h2.subtitle Tutta la tua musica a portata di mano
        p.description
            | Muzik! è un sito di musica che ha tutto il necessario per garantirti un’esperienza d’intrattenimento musicale.<br>
            | Qui trovi tutta la musica che cerchi in streaming.<br>
            | È facile da usare e ti permette di condividere un’ampia gamma musicale.<br>
            | A soli 5 CHF/mese, potrai ascoltare tutta la musica che vuoi.
        a(href="#main").down-arrow
            i.material-icons.medium keyboard_arrow_down
