<svg viewBox="0 0 557 557" xmlns="http://www.w3.org/2000/svg">
<g transform="translate(-32.000000, -32.000000)">
<g transform="translate(311.104212, 310.401927) rotate(7.000000) translate(-311.104212, -310.401927) translate(32.604212, 31.901927)">
<circle fill="#ff5252" cx="278.142029" cy="278.532725" r="277.871017"></circle>
<circle fill="white" cx="218.656471" cy="494.831023" r="26"></circle>
<path fill="white" d="M369.868807,189.977354 C292.666852,214.098697 224.927791,259.647157 173.614148,319.660212 C166.622848,314.040637 159.782386,308.241137 153.099796,302.268743 C220.540369,196.205469 333.703383,122.062888 464.843235,107.586628 C430.358729,131.692805 398.525621,159.331343 369.86882,189.97735 Z"></path>
<path fill="white" d="M82.2683702,224.560329 C108.513567,260.05255 139.240749,292.031031 173.614147,319.660211 L173.614144,319.660209 C181.270075,310.706337 189.291641,302.07445 197.655717,293.787674 C149.063565,245.282185 108.746592,188.489481 79.0054078,125.710171 C78.9224706,131.015497 78.8808483,136.330845 78.8808483,141.655915 C78.8808483,169.572675 80.0247951,197.222253 82.2683702,224.560329 Z"></path>
<path fill="white" d="M79.0054078,125.710171 C78.9224706,131.015493 78.8808483,136.330843 78.8808483,141.655915 C78.8808483,234.790338 91.6128371,324.951047 115.43123,410.492455 L115.43124,410.492491 C112.74819,388.264032 111.367396,365.634534 111.367396,342.682534 C111.367396,296.771278 116.892318,252.150436 127.313566,209.448604 C109.063935,182.995112 92.8832949,155.004375 79.0053911,125.710136 L79.0054078,125.710171 Z"></path>
<path fill="white" stroke="#ff5252" stroke-width="8" d="M227.394297,445.467821 C237.797281,336.738147 273.162799,235.294542 327.693431,146.93443 L327.693431,146.93443 C369.989185,126.547211 416.178355,112.958662 464.843235,107.586628 C350.263961,187.682567 264.95629,306.774802 228.172548,445.611007 C227.913833,445.561284 227.654411,445.51355 227.394297,445.467821 L227.394297,445.467821 Z"></path>
</g>
</g>
</svg>
