section.player
    button.player-button
        i.material-icons.medium fast_rewind
    button.player-button
        i.material-icons.large play_arrow
    button.player-button
        i.material-icons.medium fast_forward
        
    button.player-button
        i.material-icons.tiny repeat_one

    .time-container
        .current-time 0:00:00
        .time-track
            .time-past
        .total-time 9:59:59

    button.player-button
        i.material-icons.tiny volume_up
    button.player-button
        i.material-icons.tiny settings
