mixin settingsItem(text, icon)
    li
        a
            i.material-icons.tiny #{icon}
            | #{text}

section.player
    button(title="Indietro di uno").player-button
        i.material-icons.small fast_rewind
    button(title="Play / pausa").player-button.play-button
        i.material-icons.medium play_arrow
    button(title="Avanti di uno").player-button
        i.material-icons.small fast_forward

    .time-container
        .times
            .current-time 0:00:00
            .total-time 9:59:59
        .track
            .time-track
                .time-past

    button(title="Ripeti coda").player-button.repeat-button
        i.material-icons.tiny repeat
    
    button.player-button.volume-button
        i.material-icons.tiny volume_up
        .slider-container
            input(type="range", min="0", max="1", value="1", step="0.01").volume.slider
    
    button.player-button.settings-button
        i.material-icons.tiny settings
        ul.settings-container
            li
                a
                    .special-item
                        i.material-icons.tiny high_quality
                        | Qualità
                    i.material-icons.tiny.arrow keyboard_arrow_right
                ul.sub-menu
                    li 
                        a
                            div Alta
                            .number.active 320kbps
                    li 
                        a
                            div Media
                            .number 192kbps
                    li 
                        a
                            div Bassa
                            .number 128kbps
            +settingsItem('Equalizzatore', 'equalizer')

    .song
        button(title="Coda d'ascolto").player-button.queue-button
            i.material-icons.tiny playlist_play
        
        include _queue
