.queue-container
    ul.queue-list
        
    .queue-options-bar
        button(title="Ordine casuale").player-button
            i.material-icons.tiny shuffle
        button(title="Converti coda in playlist").player-button
            i.material-icons.tiny playlist_add
        button(title="Svuota coda").player-button.delete-button
            i.material-icons.tiny delete
