mixin menuItem(text, url, icon)
    li
        a(href="#{url}")
            i.material-icons #{icon}
            | #{text}

mixin footerItem(url, text)
    li
        a(href="#{url}")= text

section.sidebar
    button.sidebar-button.close
        i.material-icons close

    a(href="home.html").logo
        include _logo

    .menu-container
        nav.main-menu
            ul
                -each menuItem in menu
                    +menuItem(menuItem.name, menuItem.link, menuItem.icon)

            div.subsection-title Profilo personale
            ul
                -each personalItem in personalMenu
                    +menuItem(personalItem.name, personalItem.link, personalItem.icon)
        footer.sidebar-footer
            ul
                -each footerItem in footerMenu
                            +footerItem(footerItem.link, footerItem.name)
