section.topbar.topbar-landing
    .container
        a(href="/landing.html").logo
            include _logo

        .cta-container
            a(href="#").button Accedi
            a(href="/register.html").button.primary Registrati
