section.topbar
    button.topbar-button.burger
        i.material-icons menu
        
    input(type="search", placeholder="Search")
    
    button.topbar-button.search
        i.material-icons search
