section.topbar.topbar-landing
    .container
        a(href="/landing.html").logo
            include _logo

        .cta-container
            a(herf="#").button Accedi
            a(herf="#").button.primary Registrati
