extend 0-layouts/_default

block head
    title Home | Muzik!

block sidebar
    include 1-partials/_sidebar

block topbar
    include 1-partials/_topbar

block content
    include 2-pages-content/_home

block player
    include 1-partials/_player
