extend 0-layouts/_non-app

block head
    title Benvenuto su Muzik!

block topbar
    include 1-partials/_topbar-no-app

block header
    include 1-partials/_hero-landing

block content
    include 2-pages-content/_landing

block footer
    include 1-partials/_footer

block scripts
    script(src="js/jquery.min.js")
    script.
        $('html, body').css({
            overflow: 'auto',
            height: 'auto'
        });
        $('.topbar-landing').css({
            boxShadow: 'none'
        });
        $('a[href^="#"]').on('click', function(e) {
            e.preventDefault();
            
            var target = this.hash,
                $target = $(target);
            
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function(){
                window.location.hash = target;
            });
        });
