extend 0-layouts/_default

block head
    title Dettaglio playlist | Muzik!

block sidebar
    include 1-partials/_sidebar

block topbar
    include 1-partials/_topbar

block content
    include 2-pages-content/_playlist-detail

block player
    include 1-partials/_player

block scripts
    script(src="js/script.min.js")
    script.
        $(document).ready(function() {
            function toMonth(monthNumber) {
                var m = parseInt(monthNumber);

                switch (m) {
                    case 1: m = 'Gennaio';
                            break;
                    case 2: m = 'Febbraio';
                            break;
                    case 3: m = 'Marzo';
                            break;
                    case 4: m = 'Aprile';
                            break;
                    case 5: m = 'Maggio';
                            break;
                    case 6: m = 'Giugno';
                            break;
                    case 7: m = 'Luglio';
                            break;
                    case 8: m = 'Agosto';
                            break;
                    case 9: m = 'Settembre';
                            break;
                    case 10: m = 'Ottobre';
                            break;
                    case 11: m = 'Novembre';
                            break;
                    default: m = 'Dicembre';
                }

                return m;
            }
            Randomator.getData(function(data) {
                var album = Randomator.getAlbum(data),

                    $hero = $('.hero'),
                    $img = $hero.find('.cover'),
                    $title = $hero.find('.title'),
                    $artist = $hero.find('.artist'),
                    $info = $hero.find('.info'),
                    $genres = $hero.find('.genres-paragraph'),

                    $songsContainer = $('.songs-container'),

                    $relatedAlbums = $('.related-albums'),
                    $relatedAlbumsTitle = $('.related-albums-title');

                $hero.css({
                    backgroundImage: 'linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url(img/covers/' + album.imageUrl + ')'
                });

                $img.attr({
                    src: 'img/covers/' + album.imageUrl,
                    alt: album.album + ' playlist cover'
                });

                $title.text(album.name);

                $artist.text(album.artist);

                $info.html(
                    'Data di pubblicazione: <span>' + parseInt(album.releaseDate.split('-')[2]) + ' ' + toMonth(album.releaseDate.split('-')[1]) + ' ' + album.releaseDate.split('-')[0] + '</span><br>' +
                    'Numero di canzoni: <span>' + album.tracks.length + '</span><br>' +
                    'Durata totale: <span>' + album.duration + '</span>' +
                    (album.isExplicit ? '<br><span>Presenta contenuti espliciti</span>' : '')
                );

                var genresString = '';
                for (var i=0; i<album.genres.length; i++) {
                    genresString += '<a href="#">' + album.genres[i] + '</a>';
                }
                $genres.append(genresString);

                var songsString = '';
                for (var i=0; i<album.tracks.length; i++) {
                    var song = album.tracks[i];
                    songsString += '' +
                        '<tr>' +
                            '<td>' + (i+1) + '.</td>' +
                            '<td><button><i class="material-icons">play_arrow</i></button></td>' +
                            '<td>' + song.name + '</td>' +
                            '<td>' + song.artist + '</td>' +
                            '<td>' + song.album + '</td>' +
                            '<td>' + song.duration.split(':')[1] + ':' + song.duration.split(':')[2] + '</td>' +
                            '<td><button><i class="material-icons">more_vert</i></button></td>' +
                        '</tr>';
                }
                $songsContainer.html(songsString);

                $relatedAlbumsTitle.html('Altre playlists di <a href="#">' + album.artist + '</a>');

                var relatedAlbums = Randomator.getArtistAlbums(data, album.artist, album.name),
                    relatedAlbumsString = '';

                if (relatedAlbums.length > 0) {
                    for (var i=0; i<relatedAlbums.length; i++) {
                        var info = 'Da <a href="#">' + relatedAlbums[i].artist + '</a>';

                        relatedAlbumsString += '' +
                            '<div class="album-unit">' +
                                '<div class="album-unit-thumbnail">' +
                                    '<a href="playlist-detail.html"><img src="img/covers/' + relatedAlbums[i].imageUrl + '" alt="' + relatedAlbums[i].name + ' playlist cover"></a>' +
                                '</div>' +
                                '<h4 class="name truncate">' +
                                    '<a href="playlist-detail.html" title="' + relatedAlbums[i].name + '">' + relatedAlbums[i].name + '</a>' +
                                '</h4>' +
                                '<h5 class="info truncate">' +
                                    '<span>' + info + '</span>' +
                                '</h5>' +
                            '</div>';
                    }
                }
                else {
                    relatedAlbumsString = 'Spiacenti, nessuna playlist trovata.'
                }
                $relatedAlbums.html(relatedAlbumsString);
            });
        });
