extend 0-layouts/_non-app

block head
    title Registrazione | Muzik!

block topbar
    include 1-partials/_topbar-no-app

block content
    include 2-pages-content/_register

block footer
    include 1-partials/_footer

block scripts
    script(src="js/jquery.min.js")
    script.
        $('html, body').css({
            overflow: 'auto',
            height: 'initial'
        });
        $('body').addClass('flex-registration');
